.App {
    width: 100vw;
    height: 100vh;
    
}
.Main {
    display: flex;
    height: 100vh;
    
}
.header{
    flex: 1;
    padding: 0;
}
body {
    margin: 0;
    padding: 0;
    background-image: url('/public/bgPage.jpg');
    background-size: cover;
    background-position: center;
}

.Sidebar {
    height: 100%;
    width: 250px;
    background-color: maroon;
}

.SidebarList{
    height: auto;
    padding: 0;
    width: 100%;
}
.SidebarList .Row {
    width: 100%;
    height: 50px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: black;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.Row #icon{
    flex: 30%;
    display: grid;
    place-items: center;
}

.Row #title{
    flex: 70%;
    color: white;
}

.Sidebar .Row:hover{
    cursor: pointer;
    background-color: gold;
}

.SidebarList #active{
    background-color: gold;
}

.b1{
    background-color: maroon;
}